{% extends 'base.html.twig' %}

{% block title %}Consume Detail{% endblock %}

{% block body %}
    <ul>
        <li>Descripción: {{ consume.description }}</li>
        <li>Código: {{ consume.code }}</li>
        <li>Fecha: {{ consume.consumeAt|date('d/m/Y') }}</li>
        <li>Deudor: {{ consume.creditCardUser.fullName }}</li>
        <li>Valor de la deuda: {{ consume.amount|number_format(2) }}</li>
        <li>Monto Pago; {{ consume.amountPayed|number_format(2) }}</li>
        <li>Cuotas Pagas; {{ consume.duesPayed }}</li>
        <li>Interes: {{ consume.interest }}</li>
        <li>Cuotas: {{ consume.dues }}</li>
        <li>Pago actual: $ {{ nextPaymentAmountByConsume(consume)|number_format(2) }}</li>
        <li>Cuota actual: {{ actualDueToPayByConsume(consume) }}</li>
    </ul>
    <table>
        <tr>
            <th>cuota</th>
            <th>Mes</th>
            <th>capital</th>
            <th>interes</th>
            <th>Total</th>
            <th>Status</th>
        </tr>
        {% for detail in consume_detail %}
            <tr>
                <td>{{ detail.dueNumber }}</td>
                <td>{{ detail.paymentMonth }}</td>
                <td>$ {{ detail.capitalAmount|number_format(2) }}</td>
                <td>$ {{ detail.interest|number_format(2) }}</td>
                <td>$ {{ detail.totalToPay|number_format(2) }} </td>
                <td>{{ detail.status }}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}