{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}

    <table>
        <th colspan="6">Por Deudor</th>
        <tr>
            <th>ID</th>
            <th>Deudor</th>
            <th>Valor a Pagar</th>
            <th>Detalle</th>
            <th>Acción</th>
        </tr>
        {% for user in card_users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.alias }}</td>
                <td>$ {{ totalByCardUser(user, card)|number_format(2) }}</td>
                <td><a href="">Detalles</a></td>
                <td><a href="{{ path('payment_by_card_and_user', {'card': card.id, 'user': user.id}) }}">Pagar</a></td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2">Deuda total de la tarjeta:</td>
            <td colspan="2">$ {{ total_to_pay_of_card|number_format(2) }}</td>
        </tr>
    </table>

    <table>
        <tr>
            <th colspan="6">Por Consumo</th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Card Consume Code</th>
            <th>Consume</th>
            <th>Deudor</th>
            <th>Valor a Pagar</th>
            <th>Detalle</th>
        </tr>
        {% for consume in card_consumes %}
            <tr>
                <td>{{ consume.id }}</td>
                <td>{{ consume.code }}</td>
                <td>{{ consume.description }}</td>
                <td title="{{ consume.creditCardUser.fullName }}"> {{ consume.creditCardUser.alias }} </td>
                <td>$ {{ nextPaymentMonthByConsume(consume)|number_format(2) }}</td>
                <td><a href="{{ path('consume_detail', {'consume': consume.id}) }}">Detalles</a></td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}
