{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {% for message in app.flashes('error') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_row(form.amount) }}
    <button type="submit">Pay!</button>
    {{ form_end(form) }}
    <p>Pago Total {{ total_to_pay|number_format(2) }}</p>
{% endblock %}
